---
title: Diloo App
component: ContentPage
---
div
  div
    div(style={"text-align":'center',"padding-top": "60px"})
      img(src="/big-logo.png",style={margin: "0 auto",left: '50%'}).logo
      h5 SIEMPRE TE ESCUCHAMOS
      a(href="http://link").download_btn Descargar APP
